* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #2574af;
}

.container {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  width: 800px;
}

.input-box {
  margin-bottom: 40px;
}

input {
  font-size: 2rem;
  padding: 15px 0px;
  border: none;
  border-bottom: 3px solid #cfcfcf;
  width: 70%;
  margin-right: 10px;
}

input:focus {
  outline: none;
}

input:focus input {
  border-bottom: 3px solid #000;
}

.btn {
  font-size: 1.8rem;
  padding: 18px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.hide {
  display: none;
}

.timers {
  display: flex;
  align-items: center;
}

.timers div {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  font-size: 1.5rem;
  animation: beat 0.5s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.4);
  }
}
